<h1 class="text-center m-5">Cool URL Shortener</h1>
<div class="row">
  <div class="col-3 m-auto">
    <img src="/image/logo.svg" alt="logo">
  </div>
</div>
<div class="row text-center m-3">
  <div class="col-md-9 m-auto">
    <div>Icons made by <a href="https://www.flaticon.com/authors/chanut" title="Chanut">Chanut</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="alert alert-primary d-none" id="hint-message" role="alert"></div>
    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert" id="error-message">
      {{{errorMessage}}}
    </div>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-6 m-auto">
    <form action="/new" method="post" id="shortener-form">
      <div class="form-group">
        <input type="url" class="form-control" name="originalUrl" id="original-url-input" value="{{{newOriginalUrl}}}">
      </div>
      <div class="m-auto text-center">
        <button type="submit" class="btn btn-outline-dark">SHORTEN!!!</button>
      </div>
    </form>
    <div class="m-3 position-relative" id="display-shortURL">
      {{#if baseUrl}}
      <div class="alert alert-success" role="alert">
        <p class="m-0">縮短網址成功！</p>
        <a target="_blank" rel="noopener noreferrer"
          href="/{{{exitShortId}}}{{{newShortId}}}">{{{baseUrl}}}{{{exitShortId}}}{{{newShortId}}}</a>
        <div class="my-1">
          <button onclick="copyLink()" class="btn btn-outline-success btn-sm">複製連結</button>
          <span class="text-success" id="copy-link-text-hint"></span>
        </div>

      </div>
      <input type="text" class="position-absolute" id="shorten-url-link"
        value="{{{baseUrl}}}{{{exitShortId}}}{{{newShortId}}}" style="top:1px; left: 1px; z-index: -100">
      {{/if}}
    </div>
  </div>
</div>


<script>
  //若使用者沒有輸入內容，就按下了送出鈕，需要防止表單送出並提示使用者
  const shortenerForm = document.querySelector('#shortener-form')
  const originalUrlInput = document.querySelector('#original-url-input')
  const hintMessage = document.querySelector('#hint-message')
  shortenerForm.addEventListener('submit', event => {
    hintMessage.classList.add('d-none')
    if (originalUrlInput.value === '') {
      event.preventDefault()
      hintMessage.classList.remove('d-none')
      hintMessage.innerHTML = '快來輸入長長的網址吧！'
    }
  })

  function copyLink() {
    console.log('aaaa')
    const shortenUrlLink = document.querySelector('#shorten-url-link')
    const copyLinkTextHint = document.querySelector('#copy-link-text-hint')
    shortenUrlLink.select()
    document.execCommand('copy')
    copyLinkTextHint.innerHTML = `已複製連結！`
  }
</script>