<h1 class="text-center">URL Shortener</h1>
<div>Icons made by <a href="https://www.flaticon.com/authors/chanut" title="Chanut">Chanut</a> from <a
    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
    href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
<form action="/new" method="post" id="shortener-form">
  <input type="url" name="originalUrl" id="original-url-input" value="{{{newOriginalUrl}}}">
  <button type="submit" class="btn btn-outline-dark">SHORTEN!!!</button>
</form>
<div id="error-message">{{{errorMessage}}}</div>
<div id="display-shortURL">
  <a target="_blank" rel="noopener noreferrer"
    href="/{{{exitShortId}}}{{{newShortId}}}">{{{baseUrl}}}{{{exitShortId}}}{{{newShortId}}}</a>
</div>

<script>
  //若使用者沒有輸入內容，就按下了送出鈕，需要防止表單送出並提示使用者
  const shortenerForm = document.querySelector('#shortener-form')
  const originalUrlInput = document.querySelector('#original-url-input')
  const errorMessage = document.querySelector('#error-message')
  shortenerForm.addEventListener('submit', event => {
    if (originalUrlInput.value === '') {
      event.preventDefault()
      errorMessage.innerHTML = '快來輸入長長的網址吧！'
    }
  })
</script>